TENANT_ID=<microsoft tenant>
CLIENT_ID=<app client id>
CLIENT_SECRET=<app secret>
SESSION_SECRET=<Big Random String>
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
BASE_URL=<public URL>
ROOT_PASSWORD=<database root password>
